<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Student Registration</title>
</head>

<body>

<h1>Student Registration</h1>

<p style="color: green"
   th:if="${success}"
   th:text="${success}">
</p>

<p style="color: red"
   th:if="${error}"
   th:text="${error}">
</p>

<form action="/register" method="post">

    <div>
        <label>Full Name:</label>
        <input type="text"
               name="fullName"
               required>
    </div>

    <br>

    <div>
        <label>Username:</label>
        <input type="text"
               name="username"
               required>
    </div>

    <br>

    <div>
        <label>Email:</label>
        <input type="email"
               name="email"
               required>
    </div>

    <br>

    <div>
        <label>Password:</label>
        <input type="password"
               name="password"
               required>
    </div>

    <br>

    <button type="submit">
        Register
    </button>

</form>

<br>

<a href="/login">Already have an account? Login</a>

</body>

</html>